<h1 style="text-align:center"> Welcome to Amazon EStore</h1>

x = {{ x }}
<!-- price1: "{{price1}} -->

<product-list></product-list>

<product name="{{name1}}" [price]="price1" [inStock]="true" imagePath="images\motorola.png" ></product>
<br><br>
<product name="Samsung" [price]="25000" [inStock]="false" imagePath="images\samsung.png"></product>
<br><br>
<product name="Nokia" [price]="15000" [inStock]="true"></product>
<br><br>
<product name="Lava" [price]="5000" [inStock]="true"></product>
<br><br><br><br>

