<div style="border: 1px solid rgb(37, 67, 238)">
    <p style="text-align: center;">List of Product from External Web Service (JSON-server)</p>


    <br>

    <table border="1">
        <thead>
            <th>SL.NO</th>
            <th>Title</th>
            <th>Price</th>
            <th>DETAILS</th>
        </thead>

        <tr *ngFor="let prod of products; index as i;">
            <td>{{i+1}}</td>
            <td [style.color]="prod.availabilityStatus ==='In Stock'? 'green' : 'grey'"><b>{{prod.title}}</b></td>
            <td [style.color]="prod.price <10000 ? 'grey' : 'orange'">{{prod.price }}</td>
            <td> <a href="/product/{{prod.id}}"> DETAILS</a></td>
            <td> <button (click)="deleteProduct(prod.id)"> DELETE</button></td>
        </tr>

    </table>



</div>